

body{
    background-color: lightgray;
    font-family: Arial;
}

/* Header */

.header{
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Content */

.content{
    background-color: rgb(131, 172, 196);
    margin: 30px;
    padding: 20px;
    border: 2px solid rgb(52, 40, 156);
    text-align: center;
}

/* Footer */

.footer{
    color: rgb(49, 8, 231);
    margin-top: 20px;
}